.u-section-1 .u-sheet-1 {
  min-height: 593px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 635px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 445px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 218px;
  margin: 57px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}