.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-image-1 {
  width: 149px;
  height: 149px;
  object-position: 0% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  background-image: url("images/JesusCode3.png");
  background-position: 50% 50%;
  margin: 143px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 991px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 442px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 377px 0 2px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: 170px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 294px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 393px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 96px;
  width: 96px;
  color: rgb(255, 138, 138) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 393px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 96px;
  width: 96px;
  color: rgb(255, 193, 102) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 393px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 96px;
  width: 96px;
  color: rgb(150, 147, 230) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 302px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 200px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(255, 138, 138) !important;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1202px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 140px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 19px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 467px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 149px;
    padding: 9px 41px 11px 40px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 209px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 840px;
  margin: 60px auto;
}

.u-section-3 .u-image-1 {
  background-image: url("images/Untitled-2-min.png");
  background-position: 50% 50%;
  min-height: 445px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 458px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 57px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 283px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 620px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1598px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 789px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 469px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 780px;
  }

  .u-section-3 .u-image-2 {
    height: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 592px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 713px;
  }

  .u-section-3 .u-image-2 {
    height: 396px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 373px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 222px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 610px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 264px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.75rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1216px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 798px;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  width: 711px;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  width: 868px;
  margin: 50px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 804px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 172px;
  height: 172px;
  background-image: url("images/jcowner2.png");
  background-position: 50% 50%;
  margin: 11px auto 0 1px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: -172px 1px 0 250px;
}

.u-section-4 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 17px 251px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 172px;
  height: 172px;
  background-image: url("images/JesusCode3.png");
  background-position: 50% 50%;
  margin: 11px auto 0 1px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: -172px 1px 0 250px;
}

.u-section-4 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 17px 251px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 172px;
  height: 172px;
  background-image: url("images/JesusCode3.png");
  background-position: 50% 50%;
  margin: 11px auto 0 1px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: -172px 1px 0 250px;
}

.u-section-4 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-4 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 17px 251px;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    font-size: 2.75rem;
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-4 .u-image-1 {
    width: 183px;
    height: 183px;
    margin-top: 5px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 238px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-4 .u-image-2 {
    width: 183px;
    height: 183px;
    margin-top: 5px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 238px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-4 .u-image-3 {
    width: 183px;
    height: 183px;
    margin-top: 5px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -183px;
    margin-right: 0;
    margin-left: 238px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-list-item-1 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 213px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-left: 213px;
  }

  .u-section-4 .u-list-item-2 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 213px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-left: 213px;
  }

  .u-section-4 .u-list-item-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 213px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 213px;
    height: 213px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 213px;
    height: 213px;
    margin-left: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1170px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 80px 80px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 912px;
  grid-gap: 30px 30px;
}

.u-section-5 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-5 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-5 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-10 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-5 .u-list-item-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-12 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-13 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-5 .u-list-item-5 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-14 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-15 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-16 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

.u-section-5 .u-list-item-6 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-17 {
  font-size: 4.5rem;
  background-image: none;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-18 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  line-height: 28.8px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-19 {
  margin: 27px 0 0;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  text-transform: none;
  font-size: 1.125rem;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 8px 31px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 752px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1296px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-1 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-2 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-3 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-4 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-5 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-6 {
    padding: 9px 41px 11px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-14 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-17 {
    font-size: 3rem;
  }
}